article, section, aside, footer, header, nav {display: block; }

body {font-family: verdana,  arial, sans-serif;
       font-size: 12px;
       line-height: 1.5;
       margin: 0;
       padding: 0;
       background: white url(images/gradient.png); }  

h1, h2, h3 {font-family: georgia, garamond, serif; font-weight:normal; }

h1 {font-size:160%; }

h2 {font-size:130%;}

h3 {font-size:120%;}

h4 {font-size:110%; }

p, h1, h2, ol, ul {
margin-top: 0;
margin-bottom: 1px;}

ol { padding-left: 0;
margin-left: 30px;}

img { padding: 4px; 
border: 1px solid black;
background-color: white; }

a {color: #8c5900;
font-weight: bold;
text-decoration: none;
border-bottom: 1px solid #898989;
padding-bottom: 1px; }

a:visited { color: #4a2885;}
a:hover, a:focus, a:active {background-color: #fff5e8; color: #800080; border-bottom-color: #fdebcf; }




div#wrapper {width: 728px; 
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
background-color: #ebf5fc; 
background-image: url(images/wrap-bg.gif);
background-repeat: repeat-y;
background-position: left top;
background-attachment: scroll;
border: 2px dotted black; }

header { height: 90px;
margin-bottom: 20px; }

header h1, header p {text-indent: -999px; }

.home header { background: white url(images/bannerhome.png) no-repeat; }

/*
.left {float: left; margin-right:12px; margin-bottom: 12px; width:500px; padding-left; 10px; }

nav {float: right;
width: 200px; 
padding-right: 5px; }

footer {clear:both; 
padding: 10px;
font-size: 75%;
height: 1%;
background-color: #0000ff; 
color: #ffffff;
border-top: 2px dotted #464646; }   */
